<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>News.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7FA196501C7C503C00560AA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FA196691C7C503D00560AA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FD43E581C7D851A00DB8738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
